<section class="intro">
  <div class="container">
    <p class="lead">Hi, I'm Marco and this blog talks about hacking and other nasty things.</p>
    <i class="fab fa-github"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-facebook"></i>
    <i class="fab fa-goodreads"></i>
    <div class="donation"><a href="https://www.savethechildren.org/us/about-us/why-save-the-children"><i style="color: red;" class="fas fa-heart"></i> Did I help? <i style="text-decoration: line-through;">Buy me a coffee.</i> Click here to know what to do.</a>
    </div>
  </div>
</section>
